---
layout: single
---

{% assign page.title = page.author %}
<article itemscope itemtype="http://schema.org/Person" class="person">

  <div class="post-content">
    {% unless page.content %}
    <p class="description">
    {%- for org in page.worksFor -%}
      {%- for role in org.Role -%}
        {%- unless endDate -%}
          Desde {{ role.startDate | date: "%Y" }} é {{ role.name | append: " " }} 
        {%- endunless -%}
      {%- endfor -%}
      no Departamento de {{ org.department }} da {{ org.Organization }}.
    {% endfor %}
    {%- for org in page.worksFor -%}
      {%- for role in org.Role -%}
        {%- if endDate -%}
          {{ role.name | append: " " }} ({{ role.startDate | date: "%Y" }} a {{ role.endDate | date: "%Y" }})
          {% unless forloop.last %}, {% endunless %}
        {%- endif -%}
      {%- endfor -%}
      no {{ org.department }} da {{ org.Organization }}.
    {% endfor %}
    </p>
    {% endunless %}

    {{ content }}

    <h2>Projetos de pesquisa</h2>
    <ul class="list affiliation">
      {% for org in page.affiliation %}
      {%- assign orgid = site.organization | where: "identifier", org.Organization -%}
        {%- for group in orgid -%}
          {%- for role in org.Role -%}
            <li itemscope itemtype="http://schema.org/Organization">
              <a href="{{ group.url }}" alt="{{ group.title }}">{{ group.title }}</a>
              {% if role.endDate %}
              (egresso)
              {%- endif -%}
            </li>
          {%- endfor -%}
        {%- endfor -%}
      {% endfor %}
    </ul>

  </div>
</article>
<!-- vim: set ft=liquid shiftwidth=2 tabstop=2 expandtab foldmethod=indent : -->
